.err_message {
	text-align: center;
	color: red;
	display: inline;
}

/* Button db act*/
.dbbut {
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.dbbut:hover {
    background-color: white;
    border: none;
	color: #0074CE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;	
}

/* Other button */
.but {
	padding: 0px;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none; 
    font-size: 12px;
}

.but:hover {
	padding: 0px;
    background-color: white;
    border: none;
	color: #0074CE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;	
}

.titles { 
	font-size: 24px; 
	font-weight: bold;
}

div.wrapper {
	width:auto;
	padding: 10px;
	margin-right: 25px;
}

div.left_block {
	float:left;
}

div.right_block {
	float:right;
}

div .inline {
	display: inline;
}

.sinfo .th {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}