header {
   height:0px;
}

#top_nav{
   top: 0px;
   position: fixed;
   z-index: 1000;
}

.server_name {
  text-shadow: 1px 1px white,
               2px 2px #777;
  color: #333;
  transition: all 1s;
}

.err_message {
	text-align: center;
	color: red;
	display: inline;
}

/* Button db act*/
.but {
    background-color: transparent;
    border: none;
	color: #0074CE;
    text-align: center;
    text-decoration: none;
}

.but:hover {
	cursor: pointer;
    background-color: transparent;
    border: none;
	color: #0074CE;
    text-align: center;
    text-decoration: none;
    display: inline-block;	
}

.titles {
	font: 24pt Counter-Strike;
	font-weight: bold;
}

div.wrapper {
	width:auto;
	padding: 10px;
	margin-right: 25px;
}

div.left_block {
	float:left;
}

div.right_block {
	float:right;
}

div .inline {
	display: inline;
}

.sinfo .th {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.color_nogc { color: red; }
.color_wpn { color: red; }

/* Menu pages */

.tabs {
	text-align: center;
}

.tabs > div, .tabs > input {
	display: none; 
}

.tabs label { 
	padding: 5px; 
	border: 0px solid #aaa; 
	line-height: 28px; 
	cursor: pointer; 
	position: relative; 
	bottom: 1px; 

}

.tabs label:hover { 
	color: #0074CE;
}

.tabs input[type="radio"]:checked + label { border-bottom: 0px solid #fff; color: #0074CE;}

.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tabs > input:nth-of-type(5):checked ~ div:nth-of-type(5) { 
	display: block; 
	padding: 5px; 
	border: 0px solid #aaa; 
}

.map_image{width:140px; border-radius:5px}

.map-list{width:90%; text-align:center;margin:0 auto;padding:0}
.map-list-item{width:143px;text-align:center;text-overflow:ellipsis;overflow:hidden;display:inline-block;font-weight:normal;white-space:nowrap;position:relative}
.map-list-item .map-diff{position:absolute;display:inline-block;right:10px;top:10px;width:25px;height:16px;font-size:11px;line-height:16px;border-radius:5px}
.map-diff .death {color:white;background:red;font-weight:bold}
.map-diff .extreme {color:white;background:red}
.map-diff .hard {color:black;background:#ffb100}
.map-diff .medium {background:#cce7fa;color:black}
.map-diff .easy {background:#cfc;color:black}
.map-diff .unknown {color:black;background:white;opacity:.4}
.map-list-item a{color:#0074CE;padding:5px;text-decoration:none;display:inline-block;overflow:hidden;width:120px;text-overflow:ellipsis}
.map-list-item img{width:140px;height:105px;display:block;margin:0 auto;margin-bottom:5px;border-radius:5px;border:1px solid gray;box-sizing:border-box}
.map-list-item img:hover{border:1px solid #FFA200}

* {box-sizing: border-box;}
#search form {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
#search input {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  border: 2px solid #171717;
  border-radius: 5px;
  outline: none;
  background: #F9F9FA;
  color: #171717;
}
#search button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 32px;
  height: 32px;
  border: none;
  background: #171717;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
#search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 14px;
  color: #F9F9DA;
}

.page_wrapper {
	text-align: center;
	margin-bottom: 10px;
}

.page_num {
 width:28px;
 height:28px;
 display:inline-block;
 border-radius:14px;
 -moz-border-radius:14px;
 -webkit-border-radius:14px;
 -khtml-border-radius:14px;
 font-size:11px; 
 color:#fff;
 font-weight: bold;
 line-height:28px;
 text-align:center;
 background:#000;
 margin-right: 5px;
}