.wpn {background-repeat: no-repeat; background-size: 3em;}

.wpn-1 {background-image:url('../../img/weapons/1.png');}
.wpn-2 {background-image:url('../../img/weapons/2.png');}
.wpn-3 {background-image:url('../../img/weapons/3.png');}
.wpn-4 {background-image:url('../../img/weapons/4.png');}
.wpn-5 {background-image:url('../../img/weapons/5.png');}
.wpn-6 {background-image:url('../../img/weapons/6.png');}
.wpn-7 {background-image:url('../../img/weapons/7.png');}
.wpn-8 {background-image:url('../../img/weapons/8.png');}
.wpn-9 {background-image:url('../../img/weapons/9.png');}
.wpn-10 {background-image:url('../../img/weapons/10.png');}
.wpn-11 {background-image:url('../../img/weapons/11.png');}
.wpn-12 {background-image:url('../../img/weapons/12.png');}
.wpn-13 {background-image:url('../../img/weapons/13.png');}
.wpn-14 {background-image:url('../../img/weapons/14.png');}
.wpn-15 {background-image:url('../../img/weapons/15.png');}
.wpn-16 {background-image:url('../../img/weapons/16.png');}
.wpn-17 {background-image:url('../../img/weapons/17.png');}
.wpn-18 {background-image:url('../../img/weapons/18.png');}
.wpn-19 {background-image:url('../../img/weapons/19.png');}
.wpn-20 {background-image:url('../../img/weapons/20.png');}
.wpn-21 {background-image:url('../../img/weapons/21.png');}
.wpn-22 {background-image:url('../../img/weapons/22.png');}
.wpn-23 {background-image:url('../../img/weapons/23.png');}
.wpn-24 {background-image:url('../../img/weapons/24.png');}
.wpn-25 {background-image:url('../../img/weapons/25.png');}
.wpn-26 {background-image:url('../../img/weapons/26.png');}
.wpn-27 {background-image:url('../../img/weapons/27.png');}
.wpn-28 {background-image:url('../../img/weapons/28.png');}
.wpn-29 {background-image:url('../../img/weapons/29.png');}
.wpn-30 {background-image:url('../../img/weapons/30.png');}