/* General style */
.title { 
	font-size: 20px; 
	font-weight: bold;
	padding: 10px;
}

.setup_message {
	text-align: center;
	color: red;
}

.title {
	text-align: center;
}

table {
	margin-left:auto; 
	margin-right:auto;
}

table td {
	padding: 0px;
	text-align: left;
}

.form_login {
	padding: 4px;
}

.form_login .info {
	text-align: right;
	padding-right: 20px;
}

.form_login .col {
	font-weight: bold;
	text-align: center;	
	padding: 90px
}

button {
	margin: 10px;	
}

.login {
	text-align: center;
}

#confirmed table {
	margin-left:auto; 
	margin-right:auto;
	padding: 5px;
}

#db {
	text-align: center;
} 

.info label {
	background: transparent;
}
